<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="travel_logs">Flutter 🦋</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="travel_logs">Feed <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="my_logs">My Travels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="destinations">Destinations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="travel_logs/new">Add Travel</a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav ml-auto">
  <% if user_signed_in? %>
    <li class="nav-item"><a class="nav-link" href="#"><%= current_user.email %></a></li>
    <li class="nav-item"><a class="nav-link" href="<%= destroy_user_session_path %>" data-turbo-method="delete">Logout</a></li>
  <% else %>
    <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a></li>
    <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path %>">Login</a></li>
  <% end %>
</ul>
</nav>